<div class="price__container" id="price">
    <div class="price__row">
        <div class="price__counter">
            <div class="price__counter_title"></div>
            <div class="price__counter_wrapper">
                <div class="price__coundown" id="countdown"></div>
            </div>
            {# <div class="price__timer-countdown">
                {% include '../countdown/countdown.njk' %}
            </div> #}
        </div>
        <div class="price__note">
            <div class="price__title">КАК НАЧАТЬ <br/>ОБУЧЕНИЕ</div>
            <p>Выберите подходящий для себя пакет обучения и нажмите на кнопку «Купить». После оплаты вы получите доступ к своему
                личному кабинету, а также инструкции об участии в курсе.</p>
        </div>
        <div class="price__cards">
            <div class="price__card">
                <div class="price__card_title">BASIC</div>
                <div class="price__card_num">
                    <div class="price__card_discount">
                        <p class="price__card_main-price">199$</p>
                        <p class="price__card_secondary-price">~7 449 ₴</p>
                    </div>
                    <div class="price__card_full">399$</div>
                </div>
                <ul class="price__list_base">
                    <li>
                        <span>Доступ к 17 модулям 24 урока</span>
                    </li>
                    <li>
                        <span>Сертификат</span>
                    </li>
                    <li>
                        <span>9 чек-листов</span>
                    </li>
                    <li>
                        <span>Бонусные уроки от фотографа, скаута, блогера-миллионника</span>
                    </li>
                </ul>
                <div class="price__card_note">Самостоятельное прохождение, без обратной связи</div>
                <div class="price__button button-price">
                    <a href="">
                        <button class="button-main">Хочу этот тариф</button>
                    </a>
                </div>
            </div>
            <div class="price__card price__card-gold">
                <div class="price__card_title-gold ">FASHION</div>
                <div class="price__card_num">
                    <div class="price__card_discount">
                        <p class="price__card_main-price">299$</p>
                        <p class="price__card_secondary-price">~11 199 ₴</p>
                    </div>
                    <div class="price__card_full">599$</div>
                </div>
                <ul class="price__list_gold">
                    <li>
                        <span>Доступ к 17 модулям 24 урока</span>
                    </li>
                    <li>
                        <span>Сертификат</span>
                    </li>
                    <li>
                        <span>9 чек-листов</span>
                    </li>
                    <li>
                        <span>Бонусные уроки от фотографа, скаута, блогера-миллионника</span>
                    </li>
                </ul>
                <div class="price__add">
                    <div class="price__add price__add_line"></div>
                    <div>
                        <span>ДОПОЛНИТЕЛЬНО</span>
                    </div>
                    <div class="price__add price__add_line"></div>
                </div>
                <ul class="price__list_gold">
                    <li>18 модуль: «Изучение английского языка. Эффективные стратегии»</li>
                    <li>19 модуль: «Фриланс-моделинг»</li>
                    <li>20 домашних заданий</li>
                </ul>
                <div class="price__card_note">Самостоятельное прохождение, без обратной связи</div>
                <div class="price__button button-hover">
                    <a href="">
                        <button class="button-secondary">Хочу этот тариф</button>
                    </a>
                </div>
            </div>
            <div class="price__card">
                <div class="price__card_title">PREMIUM</div>
                <div class="price__card_num">
                    <div class="price__card_discount">
                        <p class="price__card_main-price">199$</p>
                        <p class="price__card_secondary-price">~7 449 ₴</p>
                    </div>
                    <div class="price__card_full">399$</div>
                </div>
                <ul class="price__list_base">
                    <li>
                        <span>Доступ к 17 модулям 24 урока</span>
                    </li>
                    <li>
                        <span>Сертификат</span>
                    </li>
                    <li>
                        <span>9 чек-листов</span>
                    </li>
                    <li>
                        <span>Бонусные уроки от фотографа, скаута, блогера-миллионника</span>
                    </li>
                </ul>
                <ul class="price__list_base">
                    <li>
                        <span>18 модуль: «Изучение английского языка. Эффективные стратегии»</span>
                    </li>
                    <li>
                        <span>19 модуль: «Фриланс-моделинг»</span>
                    </li>
                    <li>
                        <span>20 домашних заданий</span>
                    </li>
                </ul>
                <div class="price__add">
                    <div class="price__add price__add_line-gold"></div>
                    <div>
                        <span class="price__add_color">ДОПОЛНИТЕЛЬНО</span>
                    </div>
                    <div class="price__add price__add_line-gold"></div>
                </div>
                <div class="price__qa">3 QA сессии с Элиной</div>
                <div class="price__support">Есть возможность разбить платёж частями,
                    <span>пишите нам в поддержку</span>
                </div>
                <div class="price__card_note">осталось мест: 2</div>
                <div class="price__button">
                    <a href="">
                        <button class="button-main">Хочу этот тариф</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>