<section class="review">
    <div class="review__container-top">
        <div class="review__title">Отзывы</div>
        <div class="review__video-wrapper">
            <div class="review__video-items">
                <button class="review__button button--prev" id="#button-prev">
                    <img src="../../../../images/arrow.svg" alt="">
                </button>
                <div class="review__video-container">
                    <div class="review__video active" id="video_1">
                        <video width="100%" height="300px" controls="controls">
                            <source src="{{ path }}video/1.mp4" type="video/mp4">
                        </video>
                        {# <img src="../../../../images/photo_1.png" alt=""> #}
                    </div>
                    <div class="review__video" id="video_2">
                        <video width="100%" height="300px" controls="controls">
                            <source src="{{ path }}video/2.mp4" type="video/mp4">
                        </video>
                        {# <img src="../../../../images/photo_2.png" alt=""> #}
                    </div>
                    <div class="review__video" id="video_3">
                        <video width="100%" height="300px" controls="controls">
                            <source src="{{ path }}video/3.mp4" type="video/mp4">
                        </video>
                        {# <img src="../../../../images/bg.png" alt=""> #}
                    </div>
                </div>
                <button class="review__button review__button--next" id="#button-next">
                    <img src="../../../../images/arrow.svg" alt="">
                </button>
            </div>
            <div class="review__video-buttons">
                <button class="review__button-circle active" data-button="#video_1"></button>
                <button class="review__button-circle" data-button="#video_2"></button>
                <button class="review__button-circle" data-button="#video_3"></button>
            </div>
        </div>
    </div>
    <div class="review__container-bottom">
        <div class="review__items">
            <button class="review__button button--prev" id="#button-prev-photo"><img src="../../../../images/arrow.svg" alt="">
            </button>
            <div class="review__item active">
                <div class="review__item-photo"><img src="../../../../images/reviews/review1.png" alt="">
                </div>
                <div class="review__item-text">Всегда нравилось фотографироваться, последние пару лет начала это делать более часто и
                    вместе с этим начала задумываться о модельной школе, так как фигура у меня не самая стандартная, то не хотелось ходить
                    по школам, где более стандартные девочки и обучение тоже не предполагает plus size. Так как давно подписана на Элину,
                    меня заинтересовал именно этот курс-марафон онлайн. Обучение было очень интересным, полезным и насыщенным, много
                    информации именно для нестандартных девочек, которую я бы одна искала несколько месяцев, всё в одном месте. Обратная
                    связь от кураторов, тоже очень помогла понять к чему нужно более внимательно отнестись, чтобы улучшить качество работ.
                    Общий чат и общие подписки с единомышленницами-студентками курса вдохновляли на более упорную работу. Благодаря этому
                    курсу я поняла свои слабые места, о которых и не подозревала. Так же поняла, что всё достаточно реально, главное
                    приложить усилие, а вся информация, которая нужна есть в курсе. Этот курс будет полезен девочкам, которые готовы
                    действовать, потому что он реальный и практичный.</div>
                <p class="review__name">Анна Кузнецова</p>
            </div>
            <div class="review__item">
                <div class="review__item-photo"><img src="../../../../images/reviews/review2.png" alt="">
                </div>
                <div class="review__item-text">Я давно в тайне мечтала стать моделью, листая модные журналы я негодовала почему это не
                    моё фото на глянце, почему не я рекламурую эту одежду в каталоге... Почему не я? Но проснувшись от мечтаний я понимала,
                    а куда мне до них и кто я вообще такая и что возомнила. Я была комок из неуверенности в себе, страхов, и предрассудков,
                    и к конце концов я абсолютно не знала с чего начать мой путь к мечте. Пройдя этот курс я полностью поменяла моё мнение,
                    это хороший толчок вперёд, моё мировозрение поменялось и я поняла, что всё в моих руках. Главный мой враг-мои страхи и
                    раз они мои, только я могу их победить. Я смогла лучше понять себя, стала увереннее. Моделинг-это работа и если вы не
                    знаете с чего её начать я абсолютно с уверенностью вам рекомендую пройти этот курс. Теперь я знаю с чего начинать и как
                    двигаться дальше, курс Элины задал мне направление, это подробная инструкция к моей мечте. Дорогие девушки и женщины,не
                    важно какой у вас возраст и параменты, каждый может найти свое место в мире моделинга, если вы хотите но всё ещё
                    сомневаетесь добро пожаловать в модельную школу Элины Фёдорово
                </div>
                <p class="review__name">Elena Sazhina</p>
            </div>
            <div class="review__item">
                <div class="review__item-photo"><img src="../../../../images/reviews/review3.png" alt="">
                </div>
                <div class="review__item-text">Я всегда хотела реализовать свой творческий потенциал, но все мои идее обычно разбивались
                    о суровые стереотипы реальности. Узнав о курсе, я увидела возможность реализации своей, так скажем «несбыточной мечты»!
                    Я знала, что от Элины, как от профессиональной модели с большим опытом и просто очень осознанного человека который
                    искренне хочет делиться своими знаниями во благо других, я точно получу то что ищу!) но я и представить не могла, что
                    все будет на столько круто продуманно! Исчерпывающая информация о всех тонкостях модельного бизнеса и четкие инструкции
                    как достичь своих целей в этой сфере вне зависимости от того в каких условиях ты сейчас находишься и с какими
                    параметрами. Возможности предусмотрены для каждого!) Хочу отметить очень удобный формат, позволяющий совмещать обучение
                    с работой или какими либо другими делами. Благодаря этому курсу я стала решительней и теперь замотивирфованна на
                    достижение своей цели! Отдельно хочется поблагодарить всех кураторов, которые терпеливо отвечали на все вопросы и всегда
                    подбадривали группу. Этот курс подойдёт не только будущим моделям, но и всем кто хочет обрести уверенность в себе,
                    научиться эффектно получаться на фото и видео, красиво ходить и грамотно преподносить себя. Огромное Спасибо Элине, всем
                    преподавателям и команде работающей над этим курсом! Вы помогаете мечтам сбываться
                </div>
                <p class="review__name">Diana Poliakova</p>
            </div>
            <div class="review__item">
                <div class="review__item-photo"><img src="../../../../images/reviews/review4.png" alt="">
                </div>
                <div class="review__item-text">Хочу сказать спасибо команде модельной школы за профессиональную работу. Из этого курса
                    нашла ответы на многие мои вопросы о работе моделью . Сейчас у меня есть все занания, с чего начать работать моделью .
                    Все уроки были полезны, интересны, позновательны . Очень мучил вопрос о контактах так как не хотелось бы потом проблем,
                    но теперь с помощью знаний которые я получила могу сказать что это был очень полезный курс для меня . Теперь у меня есть
                    план действий . Большое спасибо кураторам которые нам отвечали . Всем кто хочет начать работать моделью советую этот
                    курс пройти . Спасибо Элина за этот курс ❤️
                </div>
                <p class="review__name">Parizoda Kamolkhonova</p>
            </div>
            <div class="review__item">
                <div class="review__item-photo"><img src="../../../../images/reviews/review5.png" alt="">
                </div>
                <div class="review__item-text">На курс Элины я пришла практически с нулевыми знаниями о моделинге. С детства обладаю
                    высоким ростом, все говорили, что стоит идти в данную сферу. И наконец-то решилась. На курсе узнала много полезной
                    информации как от самой Элины, так и от других знаменитых моделей. Поняла , какие типажи существуют , определила свой ,
                    научилась правильно ходить и держать осанку. Узнала, как лучше заключать контракты и чего стоит работа за границей.
                    Узнав многие плюсы и нюансы , взвесила работу модели "за" и "против". Полезно было узнать о разнообразии позирования. На
                    протяжении всей учебы был чат в телеграм канале, где на связи всегда были кураторы, пообщалась с другими девчонками ,
                    познакомилась, было интересно!</div>
                <p class="review__name">Чучелова Екатерина Юрьевна</p>
            </div>
            <div class="review__item">
                <div class="review__item-photo"><img src="../../../../images/reviews/review6.png" alt="">
                </div>
                <div class="review__item-text">Добрый вечер! Моделинг интересовал меня давно, я уже имела модельный опыт в съёмках, но
                    затем был перерыв. Я не была уверена, что могу вернуться к моделингу в 25 лет. Но школа Элины доказала мне обратное! На
                    протяжении нескольких недель я смотрела уроки, выполняла задания, погружалась в мир моделинга. Спасибо за этот курс! Я
                    обрела уверенность и нужные знания. Рекомендую!
                </div>
                <p class="review__name">Polina Bystrova</p>
            </div>
            <div class="review__item">
                <div class="review__item-photo"><img src="../../../../images/reviews/review7.png" alt="">
                </div>
                <div class="review__item-text">Я осознанно решила пройти курс, когда прекратила занятия в модельной школе своего города,
                    так как обучение там длилось 9 месяцев и информацию очень растягивали. То есть курс я начинала уже имея опыт в съёмках.
                    У меня был лишь стимул узнать больше о том, что мне нравится. Страхи, неуверенность - остались уже давно позади. Курс
                    получился максимально подробным, мне дали больше, чем оговаривали даже в модельной школе ( например, контакты агентств
                    для связи и шаблоны писем). Я советую пройти курс тем, кто готов работать. Он действительно информативный и полезный.
                    Снят красиво, воды нет, удобно. У меня остались лишь положительные эмоции
                </div>
                <p class="review__name">Alyona Bystrova
                </p>
            </div>
            <div class="review__item">
                <div class="review__item-photo"><img src="../../../../images/reviews/review8.png" alt="">
                </div>
                <div class="review__item-text">До прохождения курса в модельной-онлайн школе я скептически относилась к собственным
                    возможностям в модельной индустрии. Так как было много предрассудков из-за нехватки знаний. Также были внутренние зажимы
                    при позировании, от которых здесь мне помогли избавиться. Модельная школа восполнила мои знания, которые определенно
                    дадут старт карьере в данной сфере. Я стала намного увереннее в себе и перестала сомневаться в своих силах. Поняла, что
                    желаемое гораздо ближе, чем я думала. Стоит только приложить немного усилий и все получится. Я стала серьезнее подходить
                    к фотографии,больше задумываться о позах, ракурсе и свете. Также курс рассказал о многих подводных камнях модельной
                    индустрии. Я с уверенностью могу сказать, что этот курс поможет гораздо быстрее достичь своей цели. Спасибо всей команде
                    за проделанную работу, знания, за обратную связь и за полученный бесценный опыт!
                </div>
                <p class="review__name">Irina Tetyukhina</p>
            </div>
            <div class="review__item">
                <div class="review__item-photo"><img src="../../../../images/reviews/review9.png" alt="">
                </div>
                <div class="review__item-text">Я всегда мечтала стать моделью. Но не знала как. Да, меня приглашали друзья на разные
                    проекты, но это было не совсем то. У меня не было чёткой пошаговой инструкции как добиться успеха в желаемом деле.
                    Теперь, когда я окончила курс MSO, я чётко знаю, к какому типу внешности отношусь, какие есть возможности, сильные
                    стороны, на что обратить внимание в контракте и многое другое. Есть понимание в каком формате развивать модельную
                    карьеру, а самое главное, как именно это делать. Я рекомендую пройти обучение в MSO даже тем, кто не планирует
                    профессионально работать моделью. Обучение поможет раскрепоститься, стать увереннее в себе, хорошо получаться на фото и
                    видео.
                </div>
                <p class="review__name">Alisiia Evstafeva</p>
            </div>
            <button class="review__button review__button--next" id="#button-next-photo">
                <img src="../../../../images/arrow.svg" alt="">
            </button>
        </div>
    </div>
</section>