<section class="oferta">
    <div class="oferta__wrapper">
        <div class="oferta__title">ПУБЛИЧНАЯ ОФЕРТА</div>
        <ul class="oferta__items">
            <li>По состоянию на 1 сентября 2023 года</li>
            <li>Настоящая Публичная оферта (далее именуемая по тексту «Оферта») определяет порядок предоставления доступа к
                Информационным материалам и Курсу, а также порядок оказания иных услуг Исполнителем Пользователю, устанавливает взаимные
                права, обязанности и порядок взаимоотношений между Wispence Inc., именуемым в дальнейшем «Исполнитель», который
                публикует настоящую Оферту на сайте https://modelingschool.online/ , его уполномоченными представителями и Потребителем
                услуг, именуемым в дальнейшем «Пользователь», принявшим (акцептовавшим) предложение (Оферту).</li>
        </ul>
        <p class="oferta__subtitle">1. Общие положения</p>
        <ul class="oferta__items">
            <li>1.1. Настоящая Оферта является предложением Исполнителя в адрес физических лиц и юридических лиц, содержащим
                существенные условия договора о предоставлении доступа к Информационным материалам и Курсу, а также об оказании иных
                услуг.</li>
            <li>1.2. Полным и безоговорочным Акцептом настоящей оферты (согласием с ее условиями) является совершение Принципалом
                всех следующих действий:</li>
            <li>1.2.1. Согласие с условиями настоящей Оферты путем соответствующих действий на сайте
                <a href="https://modelingschool.online/">https://modelingschool.online/</a>
            </li>
            <li>1.2.2. Заполнение специальной формы данных в зависимости от выбранного Пользователем тарифа</li>
            <li>1.2.3. Оплата услуг по соответствующему Тарифу, предоставляемых с помощью сайта
                <a href="https://modelingschool.online/">https://modelingschool.online/</a>
            </li>
            <li>1.3. Пользователь обязан полностью ознакомиться с условиями настоящей Оферты до момента оплаты тарифа. Внимательно
                прочитайте текст данной публичной Оферты и, если Вы не согласны с каким - либо пунктом Оферты – откажитесь от оплаты
                Курса и использования Сайта и его услуг. В случае продолжения пользования Сайтом, его разделами, сервисами,
                возможностями и инструментами, Пользователь считается полностью согласным с настоящими Правилами и ни при каких условиях
                не имеет право ссылаться на отсутствие такого согласия.</li>
            <li>1.4. Акцепт настоящей Оферты означает, что Пользователь согласен со всеми положениями настоящей Оферты, а также
                подробно ознакомился с объемом Информационных материалов, Курса, перечнем иных услуг, которые предоставляются
                Исполнителем.</li>
            <li>1.5. Исполнитель имеет право неограниченное количество раз в любое время по своему усмотрению изменить условия
                настоящей Оферты, в том числе, дополнив ее, сократив, установив дополнительные обязанности и/или права как для
                Пользователя так и для Исполнителя, либо прекратив такие обязанности и/или права, а равно изменив настоящий документ
                любым иным образом.</li>
            <li>1.6. При возникновении споров, в части регулируемой настоящей Офертой, единственно верной признается Оферта,
                размещенная на Сайте Исполнителем в момент рассмотрения спора по существу, независимо от времени возникновения спора и
                действующей в тот момент редакции Оферты.</li>
        </ul>
        <p class="oferta__subtitle">2. Термины и определения</p>
        <ul class="oferta__items">
            <li>
                <span>Агент
                </span>– уполномоченный представитель Исполнителя, действующий на основании соответствующего договора с Исполнителем и
                осуществляющий от его имени и в его интересах определенные действия, включая прием платежей от Пользователей.</li>
            <li>
                <span>Администратор
                </span>— лицо или лица, действующие от имени и в интересах Исполнителя и обеспечивающие доступ Пользователя к Курсу и
                иным услугам.</li>
            <li>
                <span>Договор</span>– договор между Исполнителем и Пользователем, заключаемый на условиях, изложенных в настоящей Оферте
                    на основании ее акцепта Пользователем. После акцепта Оферты, термин «Оферта», употребляемый в ней, является
                    тождественным термину «Договор».
            </li>
            <li>
                <span>Домашнее задание</span>— адресованные Пользователю вопрос или задание, размещенные Исполнителем на Сайте в рамках Курса.
            </li>
            <li>
                <span>Информационные материалы</span>— объекты интеллектуальной собственности Исполнителя в форме текстов, изображений,
                    рисунков, фотографий, графиков, видео, программ, звуков, пользовательских интерфейсов, логотипов, торговых марок,
                    компьютерных кодов и т.д., которые предоставляются в рамках Курса и/или размещены на Сайте Исполнителем. Информационные
                    материалы предоставляются Пользователю не раньше начала Курса.
            </li>
            <li>
                <span>Кураторы</span>— лица, от имени Исполнителя наблюдающие за ходом выполнения Домашних заданий и за иными процессами
                    в рамках, определенных настоящей Офертой.
            </li>
            <li>
                <span>Курс</span>– комплекс консультационных услуг, изложенных на Сайте, направленных на повышение Пользователями
                    навыков работы в социальных сетях, а именно – навыков оформления и ведения страницы в социальной сети Инстаграм
                    (Instagram). Длительность и объем Курса, дата его начала и завершения указываются Исполнителем на Сайте.
            </li>
            <li>
                <span>Отчеты</span>— сообщение, доклад Пользователя о своих действиях и проделанной работе в рамках Домашних заданий.
            </li>
            <li>
                <span>Пользователь</span>— физическое лицо, и/или представитель несовершеннолетнего лица (лица, не достигшего 18 лет), а
                    также юридическое лицо в лице его представителя, акцептировавшие эту Оферту.
            </li>
            <li>
                <span>Промо-предоплата</span>– вид предоплаты, осуществляемый Пользователем до выбора и оплаты Тарифа, и предоставляющий
                    Пользователю определенную на Сайте скидку по отношению к Тарифу, действующую определенный период времени. На основании
                    Промо-предоплаты Пользователю также может предоставляться определенный объем Информационных материалов.
            </li>
            <li>
                <span>Сайт</span>
                - сайт Исполнителя, размещённый в сети интернет по адресу
                <a href="https://modelingschool.online/">https://modelingschool.online/</a>
                и его поддоменах, в том числе
                <a href="https://cabinet.modelingschool.online/">https://cabinet.modelingschool.online/</a>. На Сайте Исполнителем
                    размещен интерактивный многопользовательский онлайн-сервис, направленный на предоставление Пользователям доступа к
                    Информационным материалам и к Курсу через личный кабинет Пользователя.
            </li>
            <li>
                <span>Тариф</span>– совокупность услуг и действий Исполнителя, совершаемых в отношении Пользователя, определенная
                    конкретным объемом Курса и его стоимостью. Информация о Тарифах размещена на Сайте в разделе «Тарифы». Тариф может
                    предусматривать Промо-предоплату, рассрочку платежей, оплату платежей в пользу Агента или иных лиц, уполномоченных
                    Исполнителем.
            </li>
            <li>
                <span>Услуги</span>составление, направление и проверка исполнения Пользователем Домашних заданий в рамках Курса,
                    поддержка Кураторов по возникающим вопросам и проблемам, а также предоставление доступа в закрытые чаты и иные услуги,
                    указанные на Сайте в разделе соответствующего Тарифа.
            </li>
            <li>В настоящем документе могут быть использованы термины, не определенные в Разделе 2 Оферты. В этом случае толкование
                такого термина производится в соответствии с текстом Оферты. В случае отсутствия однозначного толкования термина в
                тексте документа следует руководствоваться толкованием термина, определенным: в первую очередь — законодательством штата
                Калифорния, во вторую очередь — сложившимся (общеупотребимым) использованием в сети Интернет.</li>
        </ul>
        <p class="oferta__subtitle">3. Предмет Оферты. Доступ к личному кабинету.</p>
        <ul class="oferta__items">
            <li>3.1. После акцепта Пользователем условий настоящей Оферты, Исполнитель обязуется предоставить Пользователю доступ к
                личному кабинету, Информационным материалам, Курсу и оказать Услуги, предусмотренные настоящей Офертой, а Пользователь
                должен принять такие услуги и оплатить их в полном объеме.</li>
            <li>3.2. Доступ к личному кабинету осуществляется с помощью Администратора, который отправляет на электронную почту
                Пользователя данные доступа (логин и пароль) после оплаты Тарифа.</li>
            <li>3.3 Регистрация Пользователя осуществляется Администратором на основании данных, предоставляемых Пользователем либо
                третьим лицом, получившим согласие на обработку персональных данных Пользователя.</li>
            <li>Пользователям может быть предложено указать свои имя, номер контактного мобильного телефона, адрес электронной почты.</li>
            <li>3.4. Предоставляя данные Администратору для создания личного кабинета, а равно соглашаясь с условиями настоящей
                Оферты, Пользователь предоставляет право на обработку любой предоставленной информации, а также при использовании Сайта,
                если такая информация относится к персональным данным.</li>
            <li>В том числе Пользователь, соглашаясь с настоящими Правилами, дает согласие на сбор, систематизацию, накопление,
                хранение, уточнение (обновление, изменение), использование, блокирование, уничтожение персональных данных, если это
                необходимо для защиты прав и законных интересов третьих лиц в соответствии с законодательством. А также в любых иных
                случаях, когда это необходимо Исполнителю для целей исполнения своих обязательств перед Пользователем, предоставлению
                сервисов и возможностей Сайта, а также в предпринимательских целях Исполнителя, например, для целей направления будущим
                Пользователям рекламной информации.</li>
            <li>3.5. В связи с указанными выше обстоятельствами Пользователь гарантирует и подтверждает, что вся предоставленная им
                информация является достоверной, актуальной, полной и соответствующей законодательству.</li>
            <li>3.6. Пользователь имеет право в любое время обновить и исправить устаревшие или некорректные персональные данные на
                бесплатной основе.</li>
            <li>3.7. Условия настоящей Оферты, после ее акцепта Пользователем, являются для Исполнителя и Пользователя письменным
                согласием Пользователя на обработку персональных данных.</li>
            <li>3.8. Пользователь, предоставляя третьим лицам доступ к Курсу от своего имени с использованием своих персональных
                данных и данных, указанных при получении доступа к личному кабинету, несёт полную ответственность за соблюдение такими
                третьими лицами законодательства, а также условий настоящей Оферты.</li>
            <li>3.8.1.Если не доказано обратное, то любые действия, совершенные при использовании Сайта, материалов Курса, с
                использованием данных Пользователя, считаются совершёнными им лично, в том числе независимо от того, что такой
                Пользователь мог представлять интересы третьего лица. Бремя доказывания использования Курса с использованием данных
                Пользователя вопреки воле пользователя лежит на Пользователе.</li>
            <li>3.8.2. В случае если Пользователю стало известно о том, что Сайт и доступ в личный кабинет был под его именем
                использован без его ведома третьим лицом, Пользователь обязан немедленно сообщить об этом Исполнителю по указанным на
                Сайте контактам.</li>
            <li>3.9. Курс предоставляется Пользователю на протяжении указанного на Сайте периода в объеме, соответствующем
                выбранному Пользователем Тарифу. В случае, если это предусмотрено Тарифом, по завершении Курса Исполнитель обеспечивает
                проверку Кураторами Отчетов и Домашних заданий на протяжении двух недель, следующих за последним днем Курса.</li>
            <li>3.10. Исполнитель сохраняет для Пользователя доступ к Информационным материалам в его личном кабинете на протяжении
                шести месяцев, следующих за последним днем Курса.</li>
        </ul>
        <p class="oferta__subtitle">4. Порядок расчетов.</p>
        <ul class="oferta__items">
            <li>4.1. В рамках набора на Курс Исполнитель оказывает платные услуги по нескольким Тарифам.</li>
            <li>4.2. Выбирая определенный Тариф и совершая покупку соответствующим образом, Пользователь соглашается со всеми
                дополнительными условиями и правилами определенными на сайте в разделе выбранного Тарифа, а также соглашается с
                программой Курса соответствующей выбранному Тарифу. Указанные условия являются неотъемлемой частью данной Оферты.</li>
            <li>4.3. Пользователь понимает, что неплатежеспособность не является веским аргументом и в случае несвоевременного
                внесения полной оплаты, Исполнитель вправе закрыть доступ Пользователю ко всем Информационным материалам и приостановить
                выполнение собственных обязательств. В случае невнесения доплаты Пользователем в течение 3 дней по окончанию сроков для
                доплаты, Исполнитель вправе считать, что Пользователь отказался от дальнейшего пользования его услугами.</li>
            <li>4.4. В случае возникновения у Пользователя после получения доступа к Информационным материалам и Услугам
                необходимости/желания изменить Тариф, Пользователь должен обратиться с соответствующим заявлением Исполнителю на почту,
                указанную на сайте в разделе «Контакты». При этом Исполнитель вправе отказать Пользователю в переходе с одного тарифа на
                другой без объяснения причин. Переход с более дорогостоящего Тарифа на менее дорогостоящий Тариф запрещен.</li>
            <li>Перевод на иной Тариф, выбранный и оплаченный Пользователем, Исполнитель совершает после поступления оплаты на счет
                Исполнителя в течение 5 рабочих дней. После перехода Пользователя на другой тариф Пользователь получает Услуги,
                оказываемые Исполнителем, в объеме, в котором их получают Пользователи, изначально выбравшие этот Тариф на момент
                перехода такого Пользователя.</li>
            <li>4.5. Оплата выбранного Тарифа производится Пользователем на условиях, указанных в разделе Сайта, соответствующем
                выбранному Тарифу, путем: - перечисления денежных средств в порядке 100% (сто процентной) предоплаты на расчетный счет
                Исполнителя без предварительного выставления счета при помощи сервиса «Stripe» или «PayPal»; либо - путем рассрочки
                оплаты и выплаты стоимости в пользу уполномоченного Исполнителем лица на согласованных условиях рассрочки; либо - путем
                осуществления Промо-предоплаты и дальнейшей полной оплаты Курса согласно Тарифу с учетом скидки, предоставляемой после
                осуществления Промо-предоплаты; либо иным способом, указанным в разделе Сайта, соответствующем выбранному Пользователем
                Тарифу</li>
            <li>4.6. В случае, если Пользователь не воспользовался скидкой, предоставляемой после осуществления Промо-предоплаты,
                средства такой Промо-предоплаты зачисляются Исполнителем в качестве оплаты за предоставленный Пользователю доступ к
                соответствующим Информационным материалам.</li>
            <li>4.7. В случае открытия Исполнителем доступа к Информационным материалов в личном кабинете Пользователя, Пользователь
                считается таким, что получил Информационные материалы в полном объеме и теряет право требовать возврата оплаченных
                согласно с Тарифом денежных средств.</li>
            <li>4.8. Осуществленный после оплаты Тарифа отказ Пользователя от получения доступа к Курсу, Информационным материалам,
                услугам не являются основанием для прекращения выполнения Сторонами условий настоящей Оферты и не может являться
                основанием для возвращения средств Пользователю.</li>
            <li>4.9. В случае оформления тарифа Premium с личной встречей с Элиной и фотосессией пользователь не смог присутствовать
                на встрече, при этом подтвердил свое присутствие в ранее согласованную обеими сторонами дату Исполнитель оставляет за
                собой право не делать возврат по тарифу Premium.</li>
            <li>4.10. В случае если пользователь отменил свое присутствие на встрече менее чем за 2 недели после согласования и
                подтверждения даты встречи всеми участниками, а также при условии наличия факта оплаты студии и фотографа Исполнитель
                оставляет за собой право не делать возврат по тарифу Premium.</li>
            <li>4.11. Пользователь может присоединиться на следующий поток по тарифу Premium с личной встречей с Элиной и фотосессию
                в случае если такой тариф будет в наличии при следующих запусках.</li>
            <li>4.12. Все иные запросы о возврате оплаченных денежных средств рассматриваются Исполнителем индивидуально.</li>
        </ul>
        <p class="oferta__subtitle">5. Права и обязанности сторон.</p>
        <ul class="oferta__items">
            <li>5.1. Права и обязанности Исполнителя:</li>
            <li>5.1.1. Исполнитель в любое время без предварительного уведомления имеет право неограниченное количество раз
                осуществлять модерацию и изменение Курса, его разделов, сервисов, возможностей и инструментов, по своему усмотрению
                вносить изменения, изменять их содержание, удалять, изменять и размещать любые результаты интеллектуальной деятельности
                (в том числе используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, и
                любые серверные приложения).</li>
            <li>5.1.2. Исполнитель ни при каких условиях не обязан, хотя и имеет такое право, контролировать деятельность
                Пользователей и не несет ответственности за действия или бездействие любых лиц в отношении использования Курса и
                Информационных материалов;</li>
            <li>5.1.3. Исполнитель обязан поддерживать техническое состояние Сайта, а также предоставление беспрепятственного
                доступа в личный кабинет уже зарегистрированным и оплатившим Курс Пользователям, а в случае неполадок, исправить их в
                кратчайший срок.</li>
            <li>5.1.4. Исполнитель имеет право обратиться в суд при нарушении Пользователем любых материальных или нематериальных
                прав, повлекшее за собой нанесение реального ущерба Исполнителю, к упущенной выгоде и/или негативной репутации, а так же
                в случае незаконного использования Пользователем любого элемента Сайта в целях получения прибыли.</li>
            <li>При этом претензионный порядок со стороны Исполнителя не является обязательным.</li>
            <li>5.2. Права Пользователя:</li>
            <li>5.2.1. Получить неисключительные права на Информационные материалы.</li>
            <li>5.2.2. Получить доступ к Курсу и иным услугам Исполнителя в рамках выбранного Пользователем Тарифа.</li>
            <li>5.3. Обязанности Пользователя:</li>
            <li>5.3.1. Уплачивать вознаграждение за услуги, предусмотренные настоящей Оферты;</li>
            <li>5.3.2. Пользователю запрещено использовать программное обеспечение и осуществлять действия, направленные на
                нарушение нормального функционирования Сайта, порядка оказания услуг, функционирования разделов, сервисов, возможностей
                и инструментов Сайта, а также персональных страниц, личных кабинетов, аккаунтов других Пользователей или иных третьих
                лиц, в том числе совершать все и любые действия, целью которых, помимо прочих, могут является получение доступа к
                скрытым разделам, сервисам, возможностям Сайта, получение персональных данных третьих лиц, завладение правами
                Администратора Сайта, получение доступа к Курсу в объёме, который не предоставляется Пользователю, исходя из конкретных
                условий;</li>
            <li>5.3.3. Пользователю запрещено загружать, хранить, публиковать, распространять, доводить до всеобщего сведения и
                предоставлять доступ или иным образом использовать вредоносное программное обеспечение, в том числе вирусы, трояны,
                перехватчики паролей и т.п.;</li>
            <li>5.3.4. Пользователю запрещено осуществлять (пытаться получить) доступ к каким-либо разделам, сервисам, возможностям
                и инструментам Сайта, Курсу, иным способом, кроме как через интерфейс, предоставленный Исполнителем, за исключением
                случаев, когда такие действия были прямо разрешены Пользователю в соответствии с отдельным соглашением с Администратором
                Сайта.</li>
            <li>5.3.5. Пользователю запрещается предлагать третьим лицам услуги, связанные с использованием Курса, его разделов,
                сервисов, возможностей и инструментов, в целях извлечения прибыли или иной выгоды за исключением использования в личных
                целях, независимо от того, осуществляется ли такое использование с получением какой-либо платы или без получения такой
                платы.</li>
            <li>5.3.6. Пользователю в течение периода, на который предоставлен доступ к Курсу, его материалам, запрещается создавать
                какие-либо чаты, группы, паблики, сайты (в том числе в социальных сетях, на отдельных сайтах, в Интернете, в приложениях
                для мобильных устройств и компьютерах, в мессенджерах и т.п.), в которых может быть размещена информация об открытом
                Пользователю Курсе или может вестись обсуждение Курса, работы Исполнителя и т.п. Нарушение указанного правила является
                основанием для применения к Пользователю санкций, предусмотренных настоящим документом.</li>
            <li>5.3.7. Пользователь не в праве требовать передачи ему бонусных призов, выдаваемых в конце Курса лучшим студентам, на
                том основании, что звание «лучший студент» определяется субъективной оценкой Кураторов Курса.</li>
        </ul>
        <p class="oferta__subtitle">6. Прочие условия.</p>
        <ul class="oferta__items">
            <li>6.1. Услуги считаются оказанными с надлежащим качеством и в срок и в полном соответствии с потребностями
                Пользователя по истечению указанной на Сайте длительности Курса, если до их окончания Пользователем не направлена
                претензия в порядке, предусмотренном настоящей Офертой.</li>
            <li>6.2. Стороны признают юридическую силу уведомлений и сообщений, направляемых друг другу на указанные ими почтовые
                адреса и адреса электронной почты. В случае возникновения разногласий по установлению времени отправления, получения
                сообщений, и их и содержания, считать данные, полученные с помощью технических средств Исполнителя достоверными и
                окончательными для разрешения разногласий между Сторонами;</li>
            <li>6.3. Персональные данные, предоставленные Сторонами в связи с акцептом настоящей Оферты, используются согласно
                политике конфиденциальности.</li>
            <li>6.4. Стороны согласились использовать право штата Калифорния в качестве регулирующего права Сторон, а также для
                регулирования ситуаций, не урегулированных настоящей Офертой и при разрешении споров, в случае, если это иное прямо не
                предусмотрено личным правом Пользователя.</li>
        </ul>
        <p class="oferta__subtitle">7. Гарантии и ответственность.</p>
        <ul class="oferta__items">
            <li>7.1. Исполнитель гарантирует, что он обладает всеми законными основаниями для предоставления Пользователю
                неисключительных прав на Информационные материалы в пределах, установленных настоящей Офертой;/li>
                <li>7.2. Исполнитель не несет ответственности за прямой и/или косвенный ущерб, причиненный Пользователю, а также не
                    возмещает Пользователю убытки (включая упущенную выгоду), понесенные Пользователем в результате ненадлежащего качества
                    каналов связи общего пользования, политику обмена трафиком между провайдерами, нормальное функционирование сети
                    Интернет, ее частей или за качество линий связи, за их доступность для Пользователя;</li>
                <li>7.3. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящей Оферте,
                    если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после акцепта Оферты Пользователем
                    в результате событий чрезвычайного характера, которые стороны не могли предвидеть и предотвратить разумными мерами. К
                    обстоятельствам непреодолимой силы относятся события, на которые стороны не могут оказывать влияние и за возникновение
                    которых не несут ответственности: землетрясение, наводнение, пожар, забастовки, насильственные или военные действия
                    любого характера, решения органов государственной власти, препятствующие выполнению настоящей Оферты.</li>
                <li>7.4. Пользователь гарантирует, что до акцепта настоящей Оферты он ознакомился с ее условиями, условиями пользования
                    услугами и иной информацией, относящейся к Курсу.</li>
            </ul>
            <p class="oferta__subtitle">8. Реквизиты.</p>
            <ul>
                <li>Исполнитель:</li>
                <li>Wispence Inc.</li>
                <li>600 N Broad St Ste 5 #2195</li>
                <li>Middletown, DE 19709</li>
                <li>United States</li>
            </ul>
            <p class="oferta__bottom">Служба поддержки: support@modelingschool.online</p>
        </div>
    </section>