<div class="who__container">
    <div class="who__row">
        <div class="who__title">ДЛЯ КОГО ЭТИ ЗАНЯТИЯ?</div>
        <div class="who__cards">
            <div class="who__card">
                <div class="who__icon"><img src="../../../../images/icon/icon_1.svg" alt="">
                </div>
                <div class="who__text-title">Планируете стать моделью</div>
                <div class="who__text">Вы получите эффективную стратегию для старта модельной карьеры</div>
            </div>
            <div class="who__card">
                <div class="who__icon"><img src="../../../../images/icon/icon_2.svg" alt="">
                </div>
                <div class="who__text-title">Уже работаете в модельной сфере</div>
                <div class="who__text">ВВы повысите свой профессионализм как модели и увеличите доход</div>
            </div>
            <div class="who__card">
                <div class="who__icon"><img src="../../../../images/icon/icon_3.svg" alt="">
                </div>
                <div class="who__text-title">Хотите быть уверенней и получаться на фото</div>
                <div class="who__text">Узнаете секреты красоты моделей и всегда будете в центре внимания</div>
            </div>
            <div class="who__card">
                <div class="who__icon"><img src="../../../../images/icon/icon_4.svg" alt="">
                </div>
                <div class="who__text-title">Находитесь
                    в поиске себя</div>
                <div class="who__text">Поймете, где и как вы можете реализовать свой типаж</div>
            </div>
        </div>
    </div>
</div>