<footer class="footer">
  <div class="footer__container">
    <div class="footer__row">
      <div class="footer__politic">
        <p>Wispence Inc. | Modeling School Online © all right reserved</p>
        <p class="footer__confidential"><a href="{{ paths.build }}/policy">Политика конфиденциальности</a></p>
        <p class="footer__oferta"><a href="{{ paths.build }}/oferta">Договор оферта</a></p>
      </div>
      <div class="footer__social">
        <a href="https://www.instagram.com/elinafedorova/"><img src="../../../../images/instagram.svg" alt=""></a>
        <a href="https://www.youtube.com/c/ElinaFedorova"><img src="../../../../images/youtube.svg" alt=""></a>
      </div>
    </div>
  </div>
</footer>
