<div class="program__container" id="program">
    <div class="program__row">
        <div class="program__text-wrapper">
            <div class="program__title">ПРОГРАММА</div>
            <div class="program__text">
                <p>19 обучающих модулей в формате видео-уроков. Домашние задания, шаблоны сообщений и контрактов, чек-листы.</p>
                <p>В этом курсе собран многолетний опыт успешных моделей.</p>
                <p>Всего за
                    <span>4 недели</span>
                    ты пройдешь весь путь «от» и «до» и получишь все необходимые знания и навыки для старта карьеры успешной
                    модели.</p>
            </div>
        </div>
        <div class="program__content">
            <div class="program__items-1">
                <div class="program__item">
                    <div class="program__item-title">
                        <p>1. Основы модельного бизнеса. Оценка собственных возможностей. (Определяем свои цели в модельном бизнесе).</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Оцените свои возможности и поставите цели в модельном бизнесе</li>
                            <li>Узнаете, где востребован именно ваш женский или мужской типаж</li>
                            <li>Модельные параметры. Как измерить правильно?</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>2. Как оформить модельный бук. Все о снепах и модельных тестах.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Снимите правильные фото- и видеоснепы БЕЗ вложений</li>
                            <li>Сделаете модельные тесты</li>
                            <li>Узнаете, как составить модельный бук, чтобы попасть в агентство</li>
                            <li>Узнаете, что такое онлайн-портфолио и как самостоятельно его сделать</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>3. Как организовать фотосессию.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Узнаете, как составить портфолио и получить его БЕСПЛАТНО</li>
                            <li>Получите пошаговый план по подготовке к фотосессии и идеальные снимки</li>
                            <li>Узнаете, как найти хорошего фотографа</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>4. Фотопозирование. Как стать профессионалом.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Каталоги</li>
                            <li>Эдиториал</li>
                            <li>Спортивная
                            </li>
                            <li>Бельевая съемка/съемка в купальнике</li>
                            <li>Портретная съемка.</li>
                            <li>Позирование руками</li>
                            <li>Позирование сидя</li>
                            <li>Beauty-съемка</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>5. Видеопозирование.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Узнаете техники для съемки в клипах и рекламах</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>6. Как попасть в модельное агентство. Секреты успеха.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Правила выбора модельного агентства</li>
                            <li>Как попасть в модельное агентство самостоятельно</li>
                            <li>Как успешно пройти кастинг в агенство</li>
                            <li>Что делать если в вашем городе нет агентства</li>
                            <li>Модельный агент. Кто он?</li>
                            <li>Как распознать мошенников</li>
                            <li>Причины разрыва контракта</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>7. О контрактах. Что нужно знать каждой модели.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Узнаете виды модельных контрактов и выберите свой тип</li>
                            <li>Контракт с материнским агентством</li>
                            <li>Зарубежный контракт</li>
                            <li>Модельный релиз</li>
                            <li>Узнаете, какие нюансы нужно знать перед подписанием документов</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>8. Особенности работы за границей. Зарубежный контракт (интервью с агентом).</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Узнаете, что ждет за границей
                            </li>
                            <li>Начало работы с зарубежным агентством
                            </li>
                            <li>Страны, в которые можно поехать работать
                            </li>
                            <li>Как и в каких условиях могут жить модели
                            </li>
                            <li>Кто оплачивает поездку
                            </li>
                            <li>Основные условия контракта
                            </li>
                            <li>Выплата денег
                            </li>
                            <li>Сколько вы можете заработать в разных странах
                            </li>
                            <li>Как получить рабочую визу
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>9. Развитие социальных сетей. Инстаграм для моделей.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Почему моделям нужно вести Инстаграм</li>
                            <li>Как оформить профиль в инстаграм</li>
                            <li>Как продвигать себя в инстаграм</li>
                            <li>Бесплатные и платные способы продвижения</li>
                            <li>Какие тексты писать под фото</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>10. Психология. Ты все сможешь!</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Узнаете секреты психологии успешных моделей и примените их в жизни</li>
                            <li>Узнаете, почему НЕ получается и как это исправить</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="program__items-2">
                <div class="program__item">
                    <div class="program__item-title">
                        <p>11. Основы модельной походки.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Научитесь основам подиумного шага</li>
                            <li>Научитесь различным видам модельной походки</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>12. Как проходят кастинги.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Правила успешного прохождения кастинга</li>
                            <li>Какая одежда нужна для разных типов кастингов</li>
                            <li>Какой макияж нужен на кастинге</li>
                            <li>Что делать, если отказали</li>
                            <li>Почему выбирают других, а не тебя</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>13. Модели нестандартных размеров.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Petite. Что делать, если у модели низкий рост?</li>
                            <li>Plus Size</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>14. Уход за собой.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Узнаете правила ухода за кожей/лицом для модели</li>
                            <li>Уход за волосами</li>
                            <li>Правила поддержания формы и веса</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>15. Недостатки работы моделью.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Как справлять с минусами работы моделью (Спойлер: плюсов все равно гораздо больше)</li>
                            <li>Чего стоит ожидать от работы в модельной индустрии</li>
                            <li>Превратите минусы в плюсы</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>16. Что делать, если родители против.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Мифы модельного бизнеса</li>
                            <li>Как правильно рассказать родителям о своей мечте и начать зарабатывать на любимом деле</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>17. Сила мысли.</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Узнаете страхи, которые мешают вам стать топ моделью</li>
                            <li>Отбросите все сомнения и начнете действовать</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>Бонус-модули <br/>18. Изучение английского языка. Эффективные стратегии </p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Необходимый уровень владения языком для модели</li>
                            <li>Пошаговый план "Как выучить английский в кратчайшие сроки и быть востребованной моделью"</li>
                            <li>Бесплатные способы изучения модельного английского</li>
                        </ul>
                    </div>
                </div>
                <div class="program__item">
                    <div class="program__item-title">
                        <p>19. Фриланс-моделинг</p>
                        <span class="program__button"><img src="../../../../images/icon/plus.svg" alt="">
                        </span>
                    </div>
                    <div class="program__list hidden">
                        <ul>
                            <li>Моделинг как собственный бизнес</li>
                            <li>Плюсы и минусы фриланс моделинга</li>
                            <li>Как находить работу без агентства</li>
                            <li>Как не нарваться на мошенников</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>