<section class="question">
    <div class="question__container">
        <div class="question__title">ОСТАЛИСЬ ВОПРОСЫ?</div>
        <button class="question__button button-main">Оставить заявку</button>
    </div>
</section>