<div class="main">
    <div class="main__container">
        {% include src + 'layout/blocks/main/blocks/about/about.njk' -%}
        {% include src + 'layout/blocks/main/blocks/who/who.njk' -%}
        {% include src + 'layout/blocks/main/blocks/program/program.njk' -%}
        {% include src + 'layout/blocks/main/blocks/result/result.njk' -%}
        {% include src + 'layout/blocks/main/blocks/connect/connect.njk' -%}
        {% include src + 'layout/blocks/main/blocks/price/price.njk' -%}
        {% include src + 'layout/blocks/main/blocks/reviews/reviews.njk' -%}
        {% include src + 'layout/blocks/main/blocks/question/question.njk' -%}
    </div>
</div>