

<div class="countdown">
    <div class="bloc-time days" data-init-value="0">
        <span class="count-title">{{ countdown.days }}</span>

        <div class="bloc-time__content">
            <div class="figure days days-1">
                <span class="top">0</span>

                <span class="top-back">
                    <span>0</span>
                </span>

                <span class="bottom">0</span>

                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>

            <div class="figure days days-2">
                <span class="top">0</span>

                <span class="top-back">
                    <span>0</span>
                </span>

                <span class="bottom">0</span>

                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
        </div>
    </div>

    <div class="bloc-time hours" data-init-value="0">
        <span class="count-title">{{ countdown.hours }}</span>

        <div class="bloc-time__content">
            <div class="figure hours hours-1">
                <span class="top">0</span>

                <span class="top-back">
                    <span>0</span>
                </span>

                <span class="bottom">0</span>

                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>

            <div class="figure hours hours-2">
                <span class="top">0</span>

                <span class="top-back">
                    <span>0</span>
                </span>

                <span class="bottom">0</span>

                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
        </div>
    </div>

    <div class="bloc-time min" data-init-value="0">
        <span class="count-title">{{ countdown.minutes }}</span>

        <div class="bloc-time__content">
            <div class="figure min min-1">
                <span class="top">0</span>

                <span class="top-back">
                    <span>0</span>
                </span>

                <span class="bottom">0</span>

                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>

            <div class="figure min min-2">
                <span class="top">0</span>

                <span class="top-back">
                    <span>0</span>
                </span>

                <span class="bottom">0</span>

                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
        </div>
    </div>

    <div class="bloc-time sec" data-init-value="0">
        <span class="count-title">{{ countdown.seconds }}</span>

        <div class="bloc-time__content">
            <div class="figure sec sec-1">
                <span class="top">0</span>

                <span class="top-back">
                    <span>0</span>
                </span>

                <span class="bottom">0</span>

                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>

            <div class="figure sec sec-2">
                <span class="top">0</span>

                <span class="top-back">
                    <span>0</span>
                </span>

                <span class="bottom">0</span>

                <span class="bottom-back">
                    <span>0</span>
                </span>
            </div>
        </div>
    </div>
</div>
