<section class="politics">
    <div class="politics__wrapper">
        <div class="politics__title">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</div>
        <p class="politics__modeling">ww.modelingschool.online</p>
        <ul class="politics__items">
            <li>Дата последних изменений: 11 октября 2019 года.</li>
            <li>Спасибо, что пользуетесь ModelingSchool.online!</li>
            <li>Политика Конфиденциальности описывает, как мы собираем, используем, обрабатываем и защищаем ваши данные, включая
                личную информацию, в сочетании с вашим доступом и использованием сайта ModelingSchool.online и Платежными Сервисами.
            </li>
            <li>В настоящей Политике конфиденциальности «мы», «нас» и «наш» относятся к Modeling School Online, а «вы» относится к
                любому лицу, о котором мы собираем личную информацию.</li>
            <li>Настоящая Политика конфиденциальности также применяется к Платежным услугам, предоставляемым ModelingSchool.online в
                соответствии с Условиями предоставления платежных услуг («Условия оплаты»).</li>
        </ul>
        <p class="politics__subtitle">О Modeling School Online</p>
        <p>ModelingSchool - это не просто занятия по моделингу. Это пошаговая инструкция от многочисленных экспертов модельной
            индустрии для стремительного старта и успешного развития вашей карьеры. Вы увидите весь модельный бизнес изнутри,
            узнаете секреты fashion-индустрии и получите доступ к уникальным материалам, которые откроют вам все двери в индустрию
            моды и сделают вас успешной моделью.</p>
        <p class="politics__subtitle">КАКУЮ ИНФОРМАЦИЮ MODELING SCHOOL ONLINE СОБИРАЕТ О ВАС?</p>
        <ul class="politics__items">
            <li>Когда вы сделаете запрос о наших услугах, или когда вы подписываетесь на информационную или рекламную рассылку, или
                становитесь нашим клиентом, приобретая любой платный продукт или же принимая участие в пробной (триальной) версии и
                также деловых взаимодействиях с нами, делается запись, которая включает вашу личную информацию. Информация, необходимая
                для использования Modeling School Online</li>
            <li>Мы запрашиваем и собираем следующие персональные данные, когда вы используете ModelingSchool.online. Эта информация
                необходима нам для надлежащего исполнения договорных обязательств перед вами, а также для соответствия требованиям
                законодательства. Без этой информации предоставление некоторых услуг может оказаться невозможным.</li>
            <li>
                <span>● Регистрационная информация:</span>
                при регистрации на сайте ModelingSchool.online мы запрашиваем определенную информацию, в том числе ваше имя, фамилию,
                адрес электронной почты и дату рождения.</li>
            <li>
                <span>● Платежная информация:</span>
                когда вы используете функцию оплаты на ModelingSchool.online, мы можем потребовать предоставления определенной платежной
                информации (например, информацию о банковской карте).</li>
            <li>Информация, которую вы предоставляете нам по собственной инициативе.</li>
            <li>Дополнительная информация профиля, такая как:</li>
        </ul>
        <ul class="politics__list">
            <li>возраст;</li>
            <li>номер телефона;</li>
            <li>фотографию профиля;</li>
            <li>пол;</li>
            <li>город;</li>
            <li>страна, в которой вы проживаете;</li>
        </ul>
        <p>Другая информация:</p>
        <ul class="politics__list">
            <li>ваши регистрационные данные и пароли, которые вы используете для доступа к вашей учетной записи на нашем сайте, а
                также ваши интерактивные взаимодействия с нами;</li>
            <li>сведения о продуктах и услугах (например, варианты подписки), которые вы приобрели у нас или о которых вы запросили,
                а также любую дополнительную информацию, необходимую для доставки этих продуктов и услуг и ответа на ваши запросы;</li>
            <li>любую дополнительную информацию, касающуюся вас, которую вы предоставляете нам напрямую через наш сайт или иными
                способами, например по телефону, по электронной почте или лично;</li>
            <li>информация, которую вы предоставляете нам с помощью добровольных отзывов или опросов;</li>
            <li>любую дополнительную личную информацию, которую вы предоставляете нам.</li>
        </ul>
        <p class="politics__italic">Информацию о потенциальных сотрудниках / кандидатах</p>
        <ul class="politics__items">
            <li>Мы собираем личную информацию при наборе персонала, такую как ваше имя, контактные данные, квалификация и история
                работы. Как правило, мы собираем эту информацию непосредственно от вас.</li>
            <li>Мы также можем собирать личную информацию от третьих лиц способами, которые вам хорошо известны. Например, от
                кадровых агентств или от вашего личного представителя.</li>
            <li>Перед тем, как предложить вам должность, мы можем собрать дополнительную информацию, такую как ваш налоговый номер и
                информацию о пенсии по выслуге лет, а также другую информацию, необходимую для проверки данных, чтобы определить вашу
                квалификацию и навыки для определенных позиций.</li>
            <li>Мы также можем собирать соответствующую информацию из сторонних источников, таких как [LinkedIn] и других
                профессиональных сайтов.</li>
            <li>Ваша конфиденциальная информация</li>
            <li>Мы можем собирать и обрабатывать вашу конфиденциальную информацию или данные специальной категории, такие как
                информация о вашем прогрессе, как правило, с вашего явного согласия и только в тех случаях, когда это необходимо для
                того, чтобы мы могли предоставлять вам ваши услуги. Мы также можем собирать такую информацию о вас в чрезвычайной
                ситуации или иным образом с вашего согласия или в соответствии с действующим законодательством.</li>
            <li>Посетители наших сайтов</li>
            <li>То, как мы обрабатываем личную информацию посетителей наших сайтов, обсуждается ниже.</li>
        </ul>
        <p class="politics__subtitle">КАК И ПОЧЕМУ MODELING SCHOOL ONLINE СОБИРАЕТ И ИСПОЛЬЗУЕТ ВАШУ ЛИЧНУЮ ИНФОРМАЦИЮ?</p>
        <p>Мы собираем личную информацию, необходимую для ведения нашего бизнеса, для оценки потребностей наших клиентов и
            подписчиков, а также для предоставления вам наших услуг. Мы также можем собирать информацию для выполнения
            административных функций, связанных с этими услугами, например выставление счетов, заключение договоров с вами и / или
            третьими лицами и управление отношениями с клиентами. Мы собираем вашу личную информацию для следующих целей:</p>
        <ul class="politics__list">
            <li>выполнение обязательства по клиентскому договору и / или любому другому договору;</li>
            <li>предоставление информацию о продуктах, услугах и / или специальных предложениях своим клиентам;</li>
            <li>получение мнения или комментариев о продуктах и / или услугах от клиентов;</li>
            <li>запись статистических данных о наших клиентах для проведения маркетингового анализа;</li>
            <li>реагирование на запросы о предоставлении информации и другие общие запросы;</li>
            <li>управление, планирование, реклама и администрирование программ, конкурсов и акций;</li>
            <li>исследование, развитие и расширение наших продуктов и услуг;</li>
            <li>информирование вас о нашей деятельности, событиях, продуктах и услугах;</li>
            <li>процессы набора персонала;</li>
            <li>и, также, отвечая на вопросы, претензии, жалобы и запросы о возврате. Кроме того, некоторые ваши личные данные могут
                быть использованы для других деловых целей.</li>
            <p>Примеры типов использования приведены ниже:</p>
            <li>для наших разумных коммерческих целей (включая контроль качества и администрирование и помощь нам в разработке новых
                и улучшенных продуктов и услуг);</li>
            <li>связаться с вами после того, как вы запросите информацию, чтобы выяснить, можем ли мы оказать какую-либо
                дополнительную помощь (например, если вы спрашиваете о платных продуктах);</li>
            <li>соблюдать любое требование любого применимого закона, постановления, правила и / или надлежащей практики, будь то из
                [США] или из других мест;</li>
            <li>время от времени выполнять наши обязательства по любому соглашению об отчетности, заключенному с любым налоговым
                органом или налоговой службой; чтобы проверить ваши платежи, проанализировать, оценить и улучшить наши услуги для
                клиентов, а также в целях обучения и повышения качества, мы можем отслеживать, записывать и анализировать любые
                сообщения между вами и нами, включая телефонные звонки;</li>
            <li>для предотвращения или обнаружения злоупотребления нашими услугами или любыми нашими правами (и попытками сделать
                это), а также для обеспечения соблюдения или применения нашей Политики Конфиденциальности и / или любого другого
                соглашения и для защиты нас, нашей собственности или прав третьих лиц;</li>
            <li>обмениваться информацией с соответствующими третьими сторонами в контексте продажи или потенциальной продажи
                соответствующей части нашего бизнеса при условии соблюдения обязательств по конфиденциальности;</li>
            <li>довести до вашего сведения (лично или по почте, по электронной почте или по телефону) информацию о дополнительных
                услугах, предлагаемых нами и / или нашими филиалами, которые могут вас заинтересовать, если вы не указали в любое время,
                что вы не хотите, чтобы мы это делали;</li>
            <li>а, также, чтобы повысить актуальность маркетинговых сообщений, которые мы можем вам отправлять (от которых вы можете
                отказаться в любой момент).</li>
        </ul>
        <ul class="politics__items">
            <li>Мы также собираем и используем личную информацию в целях исследования рынка и для разработки инноваций в области
                производства и реализации товаров и услуг.</li>
            <li>У нас есть законный интерес в использовании вашей информации способами, перечисленными выше. В некоторых случаях для
                нас будет законным собирать и использовать вашу личную информацию, например, если это необходимо в рамках наших или
                третьих лиц, установленных законом или общественных функций, или потому что закон разрешает или требует от нас этого.</li>
        </ul>
        <p class="politics__subtitle">КАК MODELING SCHOOL ONLINE ВЗАИМОДЕЙСТВУЕТ С ВАМИ В ИНТЕРНЕТЕ?</p>
        <ul class="politics__items">
            <li>Вы можете посетить наш сайт без идентификации себя. Если вы идентифицируете себя (например, предоставляя свои
                контактные данные в запросе / входя в наш сайт), любая личная информация, которую вы предоставляете нам, будет
                обрабатываться в соответствии с настоящей Политикой Конфиденциальности.</li>
            <li>Наш сайт может содержать ссылки на сторонние ресурсы. Мы не несем ответственности за содержание или Политику
                Конфиденциальности ресурсов, не связанных с нашим сайтом, но ссылки на которые присутствуют у нас.</li>
        </ul>
        <p class="politics__italic">Политика Modeling School Online в отношении файлов cookies</p>
        <p class="politics__italic">Что такое cookie?</p>
        <ul class="politics__items">
            <li>Сайт ModelingSchool.online использует файлы cookie. «Cookie» - это небольшой файл, хранящийся в браузере вашего
                компьютера, который помогает управлять индивидуальными настройками сайта и доставлять контент. Мы собираем определенную
                информацию, такую как тип вашего устройства, тип браузера, IP-адрес, страницы, к которым вы обращались на нашем сайте и
                сторонних сайтах.</li>
            <li>Хотя cookie-файл может идентифицировать ваш компьютер, он не должен идентифицировать вас, если вы не
                зарегистрированы на нашем сайте (например, потому что вы являетесь клиентом и подписались на наш сервис) или не вошли в
                систему с использованием своего профиля в социальных сетях. В этом случае файл cookie будет связан с вашим профилем,
                чтобы мы могли идентифицировать вас и предоставить более релевантный контент.</li>
        </ul>
        <p class="politics__italic">Почему мы используем cookie?</p>
        <ul class="politics__items">
            <li>Мы используем файлы cookie для персонализации вашего просмотра (например, запоминания ваших предпочтений и признания
                вас в качестве повторного посетителя нашего сайта), а также для отслеживания статистики использования нашего сайта. Это
                позволяет нам лучше понимать наших клиентов и улучшать макет и функциональность наших сайтов.</li>
        </ul>
        <p class="politics__italic">Типы файлов cookie, которые мы используем</p>
        <p class="politics__italic">В частности, мы используем следующие файлы cookie:</p>
        <ul class="politics__items">
            <li>
                <span>Строго необходимые файлы cookie:
                </span>необходимы для работы нашего сайта, например, файлы cookie, которые позволяют вам входить в защищенные зоны
                нашего сайта (например, в закрытую часть учебной платформы).</li>
            <li>
                <span>Аналитические / рабочие файлы cookie:
                </span>позволяют нам подсчитывать количество пользователей и видеть, как пользователи перемещаются по нашему сайту,
                когда они его используют. Это помогает нам улучшить работу нашего сайта, например, благодаря тому, что пользователи
                легко находят то, что ищут.
            </li>
            <li>
                <span>Файлы cookie для таргетинга:
                </span>эти файлы cookie регистрируют на ваше посещение нашего сайта, посещенные вами страницы и ссылки, по которым вы
                переходили. Мы будем использовать эту информацию с учетом вашего выбора и предпочтений, чтобы сделать наш сайт и любую
                отображаемую на нем рекламу более отвечающими вашим интересам.
            </li>
            <li>
                <span>Файлы cookie третьих сторон / совместного использования:
                </span>файлы cookie, которые устанавливаются доменом, отличным от посещаемого вами. Если вы посещаете наш сайт, и
                отдельная компания устанавливает cookie-файл через этот сайт, то это сторонний cookie-файл. Чтобы попытаться донести до
                вас интересующие вас предложения и рекламные объявления, мы поддерживаем отношения со сторонними компаниями, включая
                [Google, Adobe Analytics, Facebook, LinkedIn] (сторонние поставщики), которые позволяют им размещать файлы cookie на
                нашем сайте.
            </li>
        </ul>
        <p>Эти Сторонние поставщики могут:</p>
        <ul class="politics__list">
            <li>использовать сторонние файлы cookie, веб-маяки и другие технологии хранения для сбора или получения информации с
                нашем сайте и из других источников в Интернете;</li>
            <li>сравнивать информацию, идентифицированную нами, с информацией, собранной в Интернете;</li>
            <li>и использовать эту информацию для предоставления услуг измерения и таргетирования рекламы для вас.</li>
        </ul>
        <p class="politics__subtitle">Как долго куки будут храниться на вашем устройстве</p>
        <p>Сессионные куки-файлы являются временными. Они позволяют операторам сайта связывать действия пользователя во время
            сеанса браузера, период времени между пользователем, открывающим окно браузера и закрывающим его. После закрытия куки
            удаляются. Постоянные куки остаются на устройстве пользователя в течение периода времени, указанного в куки.</p>
        <p class="politics__subtitle">Как вы можете управлять своими cookies</p>
        <p>Если вы не хотите предоставлять какие-либо файлы cookie (кроме тех, которые являются строго необходимыми), вы можете
            настроить свой браузер (например, Firefox, Google Chrome, Internet Explorer или Safari) на то, чтобы запрашивать или
            отклонять файлы cookie.</p>
        <p>Обратите внимание, что отказ от файлов cookie может означать, что не все функции на нашем сайте, которые вы
            посещаете, будут вам доступны. Если вы не хотите получать какие-либо файлы cookie (кроме тех, которые являются строго
            необходимыми), вы можете использовать настройки в своем браузере, чтобы управлять тем, как ваш браузер обрабатывает
            файлы cookie (например, запрашивать или отклонять файлы cookie). Однако при этом вы не сможете получить доступ к
            определенным страницам или контенту на нашем сайте.</p>
        <p class="politics__subtitle">КАК МЫ ХРАНИМ ИНФОРМАЦИЮ?</p>
        <p>Мы постоянно предпринимаем и совершенствуем административные, технические и физические меры защиты, чтобы обезопасить
            вашу персональную информацию от несанкционированного доступа, уничтожения или подмены. Обработка данных осуществляется с
            использованием компьютеров и (или) средств с поддержкой информационных технологий в соответствии с организационными
            процедурами и методами, строго связанными с указанными целями. В некоторых случаях данные могут быть доступны, помимо
            нас, определенным категориям ответственных лиц, которые отвечают за то, чтобы сайт нормально функционировал:</p>
        <ul class="politics__list">
            <li>администрация;</li>
            <li>отдел маркетинга;</li>
            <li>юридический отдел;</li>
            <li>системные администраторы.</li>
            <p>Или сторонним организациям, таким как:</p>
            <li>сторонние поставщики технических услуг;</li>
            <li>почтовые организации;</li>
            <li>поставщики услуг хостинга;</li>
            <li>компании-поставщики информационных технологий;</li>
            <li>службы связи.</li>
            <li>налоговая служба</li>
        </ul>
        <p>Которым мы поручаем, при необходимости, выполнение функций обработчика данных. Вы можете в любое время запросить
            обновляемый перечень указанных лиц и сторон.</p>
        <p>Если вы имеете основания полагать, что данные вашего Личного Кабинета ModelingSchool.online были утеряны, украдены,
            неправомерно присвоены или иным образом стали известны третьим лицам, а также в случае несанкционированного
            использования ваших данных, свяжитесь с нами по реквизитам, указанным ниже.</p>
        <p class="politics__subtitle">КАК ДОЛГО ВАША ЛИЧНАЯ ИНФОРМАЦИЯ БУДЕТ СОХРАНЯТЬСЯ MODELING SCHOOL ONLINE?</p>
        <p>Мы будем хранить личную информацию, которую мы собираем о вас, в течение всего времени, необходимого для целей,
            изложенных в настоящей Политике Конфиденциальности или в соответствии с требованиями любых юридических обязательств,
            которые мы несем.</p>
        <p>Срок хранения, который мы применяем, учитывает:</p>
        <ul class="politics__list">
            <li>нормативно-правовые требования и руководство;</li>
            <li>сроки исковой давности, которые применяются в отношении принятия судебного иска;</li>
            <li>наша способность защищать себя от судебных исков и жалоб;</li>
            <li>а также операционные требования нашего бизнеса.</li>
        </ul>
        <p>Мы предпринимаем шаги для уничтожения или отмены идентификации информации, которая нам больше не нужна или в
            соответствии с требованиями действующего законодательства.</p>
        <p class="politics__subtitle">ИСПОЛЬЗУЕТ ЛИ MODELING SCHOOL ONLINE ИЛИ РАСКРЫВАЕТ ЛИЧНУЮ ИНФОРМАЦИЮ ДЛЯ ПРЯМОГО
            МАРКЕТИНГА?</p>
        <ul class="politics__items">
            <li>Мы можем использовать или раскрывать вашу личную информацию с целью информирования вас о наших услугах, предстоящих
                акциях и мероприятиях, а также о других возможностях, которые могут вас заинтересовать или которые иным образом
                разрешены действующим законодательством о конфиденциальности.</li>
            <li>Это означает, что в соответствии с определенными законами о конфиденциальности нам не всегда нужно ваше согласие на
                отправку вам маркетинговых сообщений, таких как рассылка для клиентов. Тем не менее, если требуется согласие в
                соответствии с применимыми законами о конфиденциальности, мы будем запрашивать это согласие отдельно и в ясной форме.</li>
            <li>Если вы не хотите получать прямые маркетинговые сообщения, вы можете отказаться в любое время, связавшись с нами,
                используя указанные ниже контактные данные или используя функцию отказа, содержащуюся в электронном сообщении.</li>
            <li>Если вы отказываетесь от получения маркетинговых материалов от нас, мы можем по-прежнему связываться с вами для
                других целей и задач, кроме маркетинговых. Мы не будем использовать или передавать ваши данные рекламным платформам,
                брокерам или торговым посредникам.</li>
        </ul>
        <p class="politics__subtitle">КАК MODELING SCHOOL ONLINE С ВЗАИМОДЕЙСТВУЕТ С FACEBOOK И GOOGLE?</p>
        <p>Мы можем запрашивать определенные права доступа в сети Facebook, и сервиса Google, позволяющие выполнять действия с
            вашей учетной записью в Facebook или Google и извлекать из нее информацию, включая персональные данные.</p>
        <p>Благодаря этой услуге, ModelingSchool.online может подключаться к вашей учетной записи в Facebook или Google,
            предоставляемой компаними Facebook Inc и Google Inc.</p>
        <p>Запрашиваются права доступа на получения следующих данных:</p>
        <ul class="politics__list">
            <li>имя и фамилия</li>
            <li>дата рождения</li>
            <li>электронная почта</li>
        </ul>
        <p>Дополнительная информация о следующих правах доступа приводится в документах "Документация о правах доступа в сети
            Facebook" , "Правила обеспечения конфиденциальности персональных данных в сети Facebook", а также Политикой
            конфиденциальности Google.</p>
        <p>Вы можете в любой момент потребовать у нас отключить связь ваших учетных записей в Facebook или Google с wispence.com
            направив сообщение по адресу support@modelingschool.online или путем изменения настроек Личного Кабинета.</p>
        <p class="politics__subtitle">ВАШИ ПРАВА В ОТНОШЕНИЯХ С MODELING SCHOOL ONLINE</p>
        <p>Вы можете осуществлять определенные права в отношении своих данных, обработанных нами. В частности, вы имеете право
            совершить следующие действия:</p>
        <ul class="politics__items">
            <li>
                <span>Отозвать свое согласие в любое время:
                </span>
            </li>вы имеете право требовать, чтобы мы удалили личную информацию, которую мы обрабатываем о вас, за исключением того,
            что мы не обязаны делать это, если нам необходимо сохранить такую личную информацию, чтобы выполнить юридическое
            обязательство или установить, использовать или защищать судебные иски.
            <li>
                <span>Получить доступ к своим данным:
                </span>у вас есть право запросить копию любой личной информации о вас, которую мы храним. Любой запрос о доступе или
                копировании вашей личной информации должен быть выполнен в письменном виде, и мы постараемся ответить в течение
                разумного периода времени и в любом случае в течение одного месяца (в соответствии с GDPR).
            </li>
            <li>
                <span>Проверить данные и потребовать исправления:
                </span>у вас есть право на исправление ваших личных данных, если вы считаете, что они неточны.
            </li>
            <li>
                <span>Ограничить обработку своих данных:
                </span>у вас есть право на удаление вашей личной информации, если вы считаете, что мы не имеем права ее хранить.
            </li>
            <li>
                <span>Получить свои данных:
                </span>вы имеете право попросить нас передать копию вашей личной информации вам или другому поставщику услуг или третьей
                стороне, если это технически возможно.
            </li>
            <li>
                <span>Возразить против обработки своих данных:
                </span>у вас есть право возражать против обработки вашей личной информации в определенных целях или требовать
                прекращения использования вашей информации.
            </li>
            <li>
                <span>Подать жалобу:
                </span>если вы недовольны тем, как мы обращаемся с вашей личной информацией, и вы связались с нами, как указано ниже, вы
                имеете право подать жалобу в местный орган по защите данных.
            </li>
        </ul>
        <p>Если вы дали согласие на обработку вашей личной информации, вы имеете право в любое время отозвать любое согласие,
            которое вы ранее дали нам для использования вашей личной информации.</p>
        <p>В определенных обстоятельствах, даже если вы отзываете ваше согласие, мы все равно сможем обрабатывать вашу личную
            информацию, если это требуется или разрешено законом, либо с целью осуществления или защиты наших законных прав или
            выполнения наших правовых и нормативных обязательств.</p>
        <p>Чтобы сделать запрос на использование любого из этих прав (если применимо) в отношении вашей личной информации,
            пожалуйста, свяжитесь с нами, используя контактную информацию ниже.</p>
        <p class="politics__subtitle">КАК ВЫ МОЖЕТЕ ПОЛУЧИТЬ ИЛИ НАЙТИ ИСПРАВЛЕНИЯ ВАШЕЙ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ</p>
        <ul class="politics__items">
            <li>Вы имеете право на доступ к вашей личной информации, которая хранится у нас по запросу. Чтобы запросить доступ к
                вашей личной информации, пожалуйста, свяжитесь с нами, используя контактную информацию, указанную ниже.</li>
            <li>Мы предпримем разумные меры для обеспечения точности, полноты и актуальности личной информации, которую мы собираем,
                используем или раскрываем. Вы можете помочь нам сделать это, сообщив нам, если вы заметите ошибки или несоответствия в
                информации, которую мы храним о вас, и сообщив нам, если ваши личные данные изменятся.</li>
            <li>Однако, если вы считаете, что любая личная информация о вас, которую мы храним, является неточной, устаревшей,
                неполной, неуместной или вводящей в заблуждение, вы имеете право потребовать исправления информации. После получения
                запроса от вас мы предпримем разумные меры для исправления вашей информации.</li>
            <li>Также вы можете обращаться к своей информации и изменять ее через настройки Личного Кабинета. Если вы связали свой
                Личный Кабинет modelingschool.online со сторонним приложением, в частности, Facebook или Google, то можете изменить
                настройки или удалить приложения с помощью настроек. Вы несете ответственность за поддержание актуальности своих
                персональных данных.</li>
        </ul>
        <p class="politics__subtitle">ЧТО ВЫ ДОЛЖНЫ ДЕЛАТЬ, ЕСЛИ У ВАС ЕСТЬ ЖАЛОБА НА ОБРАЩЕНИЕ С ВАШЕЙ ЛИЧНОЙ ИНФОРМАЦИЕЙ?</p>
        <ul class="politics__items">
            <li>Вы можете связаться с нами в любое время, если у вас есть какие-либо вопросы или сомнения относительно настоящей
                Политики Конфиденциальности или способа обработки вашей личной информации.</li>
            <li>Вы можете подать жалобу о конфиденциальности сотруднику по вопросам конфиденциальности по контактным данным,
                указанным ниже.</li>
            <li>Сотрудник по вопросам конфиденциальности сначала рассмотрит вашу жалобу, чтобы определить, существуют ли простые или
                немедленные шаги, которые можно предпринять для разрешения жалобы. Как правило, мы ответим на вашу жалобу в течение
                недели.</li>
            <li>Если ваша жалоба требует более подробного рассмотрения или расследования, мы подтвердим получение вашей жалобы в
                течение недели и постараемся незамедлительно завершить расследование вашей жалобы. Мы можем попросить вас предоставить
                дополнительную информацию о вашей жалобе и ожидаемых результатах. Затем мы, как правило, собираем соответствующие факты,
                находим и рассматриваем соответствующие документы и общаемся с заинтересованными лицами.</li>
            <li>В большинстве случаев мы проведем расследование и ответим на жалобу в течение 30 дней с момента ее получения. Если
                вопрос более сложный или наше расследование может занять больше времени, мы сообщим вам.</li>
        </ul>
        <p class="politics__subtitle">КАКИЕ ИЗМЕНЕНИЯ МОГУТ БЫТЬ СДЕЛАНЫ В ЭТОЙ ПОЛИТИКЕ КОНФИДЕНЦИАЛЬНОСТИ?</p>
        <p>Мы может время от времени вносить изменения в настоящую Политику Конфиденциальности с уведомлением или без него. Мы
            рекомендуем вам регулярно посещать наш сайт, чтобы быть в курсе любых изменений. Мы также стараемся сообщить вам об
            основных изменениях в нашей Политике Конфиденциальности (например, разместив уведомление на нашем сайте).</p>
        <p>В случае внесения изменений в настоящую Политику конфиденциальности обновленная Политика Конфиденциальности
            публикуется на Wispence.com с указанием даты последнего обновления в верхней части первой страницы Политики
            Конфиденциальности.</p>
        <p class="politics__subtitle">КАК ВЫ МОЖЕТЕ СВЯЗАТЬСЯ С MODELING SCHOOL ONLINE?</p>
        <ul class="politics__items">
            <li>Контактная информация Modeling School Online:</li>
            <li>Если у вас появился любой вопрос в рамках использования данной Политики Конфиденциальности или информация о
                нарушениях вами или третьими лицами, напишите нам на почту: support@modelingschool.online</li>
            <li>С уважением, компания Modeling School Online!</li>
        </ul>
    </div>
</section>