<div class="connect__container">
    <div class="connect__row">
        <div class="connect__page-1">
            <div class="connect__items-1">
                <div class="connect__text-1">
                    <div class="connect__text-1_title">ОСТАВЬ <br/>ЗАЯВКУ</div>
                    <p>Узнай о своих перспективах прямо сейчас. Оставь <br/>заявку на консультацию с нашим менеджером.</p>
                    <a href="">
                        <button class="button-base">Оставить заявку на консультацию<div class="connect__line"></div></button>
                    </a>
                    <div class="connect__note">
                        <span>«В 2023 году моделью может стать <br/>абсолютно каждая девушка!»</span>
                    </div>
                </div>
                <div class="connect__bg"><img src="../../../../images/photo_1.png" alt="photo_1">
                </div>
            </div>
        </div>
        <div class="connect__page-2">
            <div class="connect__items-2">
                <div class="connect__item-1">
                    <div class="connect__item-1_bg"><img src="../../../../images/photo_2.png" alt="">
                    </div>
                </div>
                <div class="connect__item-2">
                    <div class="connect__item-2_text">
                        <ul>
                            <li>11 лет модельной карьеры</li>
                            <li>Сотрудничала с международными модельными агентствами:<br/><span>Wilhelmina, Factor Chosen, Faces, Star Models, Viva Models, L-Models;</span>
                            </li>
                            <li>Главные роли в клипах:<span>Pop Evil и Дан Балана, Руки Вверх, Dave Patten, Heartist, Crown The Empire;</span>
                            </li>
                            <li>Работала с мировыми брендами:
                                <span>Sephora, Agent Provocateur, Puma, Kerastase, Moroccanoil.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="connect__item-3">
                    <div class="connect__item-3_title">АВТОР КУРСА</div>
                    <div class="connect__item-3_text">
                        <p>Элина Федорова — модель, блогер, соосновательница фитнес-платформы Wispence.</p>
                        <p>Многочисленные YouTube-видео Элины о модельном бизнесе в США набрали миллионы просмотров и до сих пор стоят в топе
                            поисковиков. Она проконсультировала сотни молодых девушек и помогла им начать модельную карьеру.</p>
                        <p>Сегодня Элина живет в эпицентре модельной индустрии — Лос-Анджелесе — и делится с девушками своими знаниями и опытом.</p>
                        <p>
                            <span>Ваша жизнь мечты гораздо ближе, чем вы думаете.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="connect__title-bottom">
            <p>МОДЕЛЬЮ НЕ РОЖДАЮТСЯ, ЕЮ СТАНОВЯТСЯ.<br/> УХОД ЗА СОБОЙ, САМОПОДАЧА, УВЕРЕННОСТЬ И <br/>ПРАВИЛЬНЫЕ ДЕЙСТВИЯ - ЗАЛОГ
                УСПЕХА.
            </p>
        </div>
    </div>
</div>