<header class="header">
  <div class="header__container">
    <div class="header__row">
      <div class="header__bg">
        <div class="header__top">
          <ul class="header__items">
            <li id="#video-opened">
              <a href="#">Видео</a>
            </li>
            <li>
              <a href="#program">О курсе</a>
            </li>
            <li>
              <a href="#price">Цены</a>
            </li>
            <li>
              <a href="https://course.modelingschool.online/login">Войти</a>
            </li>
          </ul>
        </div>
        <div class="header__wrapper">
          <div class="header__elina">Элина Федорова</div>
          <div class="header__title">МОДЕЛЬНАЯ <br/>ОНЛАЙН-ШКОЛА</div>
          <div class="header__start">Старт потока — 21 августа</div>
          <div class="header__text">Самая подробная программа обучения моделингу в онлайне от Wispence Inc.</div>
          <div class="header__button">
            <a href="">
              <button class="header__button button-base">Стать участницей<div class="header__line"></div>
              </button>
            </a>
          </div>
        </div>
        <div class="header__video-wrapper">
          <div class="header__video">
            <div class="header__video_photo">
              <div class="header__video_bg"><img src="../../../images/icon/elina.svg" alt="">
              </div>
              <div class="header__video_text">Самая подробная программа обучения моделингу в онлайне</div>
              <div class="header__video_play">
                <button class="header__video-button"><img src="../../../images/icon/play.svg" alt="">
                </button>
              </div>
            </div>
            <div class="header__video_links">
              <a href="https://www.instagram.com/elinafedorova/"><img src="../../../images/icon/Union.svg" alt="">
              </a>
              <a href="https://www.youtube.com/c/ElinaFedorova"><img src="../../../images/icon/Union_1.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header__video-background">
      <div class="header__modal-container">
        <div class="header__modal-video ">
          <video width="100%" controls="controls">
            <source src="{{ path }}video/teaser.mp4" type="video/mp4">
          </video>
        </div>
      </div>
      <button class="header__button-close"><img src="../../../../images/icon/close.svg" alt=""></button>
    </div>
  </div>
</header>