{# Page settings #}
{% set src = 'index/' %}
{% set path = '/' %}
{# End page settings #}

{% extends src + 'layout/core/base.njk' %}

{% set pageTitle = 'privacy_policy' %}

{%- block mainBody -%}
        {% include src + 'layout/blocks/policy/politics/politics.njk' %}
{%- endblock -%}