<div class="about__container">
    <div class="about__row">
        <div class="about__bg"><img src="../../../../images/elina.png" alt=""></div>
        <div class="about__empty">
            <div class="about__wrapper">
                <div class="about__title">О школе</div>
                <div class="about__text">
                    <p class="">Modeling School Online – это пошаговая инструкция, как стать моделью, от Элины Федоровой и многочисленных
                        экспертов модельной индустрии – агентов, скаутов, фотографов, режиссеров и других успешных моделей. В этом курсе собрано
                        все, что нужно для стремительного старта и успешного развития модельной карьеры.</p>
                    <p>Программа обучения – это конкретный план действий, следуя которому, вы станете моделью. Первые результаты появятся
                        уже во время занятий. Вы найдете ответы на все вопросы о модельной карьере: с чего начать, что ожидать от модельной
                        индустрии и как добиться успеха за максимально короткие сроки.</p>
                </div>
                <div class="about__button">
                    <a href="">
                        <button class="button-main button-base">Стать участницей<div class="connect__line"></div></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>